*
!/.github/
!/.github/*
!/.github/workflows/
!/.github/workflows/*
!/minecraft-modpack/
!/minecraft-modpack/*
!/res/
!/res/*
!/backend/
!/backend/function.php
!/backend/timeline.json
!/bans/
!/bans/*
!/bans/error/
!/bans/error/*
!/bans/lang/
!/bans/lang/*
!/troll/
!/troll/*
!favicon.ico
