*
!/.github/
!/.github/*
!/.github/workflows/
!/.github/workflows/*
!/minecraft-modpack/
!/minecraft-modpack/*
!/backend/
!/backend/function.php
!/backend/timeline.json
!/bans/
!/bans/*
!/troll/
!/troll/*
!favicon.ico
